/*   BUTTONS
______________________ */


%btn {
  display: block;
  width: 100%;
  max-width: 345px;
  font-family: $font--secondary;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  padding: 11px 16px;
  color: $btn__text;
  border-radius: 24px;
  @include transition;
  &:hover {
    cursor: pointer;
    @include transition;
  }
}

.btn--default {
  @extend %btn;
  background: $btn--default;
  &:hover {
    background: darken($btn--default, 5%);
  }
}

.btn--error {
  @extend %btn;
  background: $btn--error;
  border: 2px solid darken($btn--error, 10%);
  &:hover {
    background: darken($btn--error, 10%);
  }
}

.btn--primary {
  @extend %btn;
  background: $btn--primary;
  &:hover {
    background: darken($btn--primary, 5%);
  }
}

.btn--secondary {
  @extend %btn;
  background: $btn--secondary;
  &:hover {
    background: darken($btn--secondary, 5%);
  }
}