/*   COLORS
______________________ */


$parasail-blue: #15c3ff;
$parasail-green: #1ea98f;
$parasail-green-light: #93d7ca;
$parasail-grey: #808184;
$parasail-grey-dark: #404041;
$parasail-grey-light: #b0b0b0;
$parasail-purple: #3d2566;
$parasail-red: #ef4539;
$parasail-yellow: #f7edc6;
$parasail-yellow-dark: #eebd30;


// Parasail Colors for background
.bg--blue {
  background: $parasail-blue;
}

.bg--green {
  background: $parasail-green;
}

.bg--green-light {
  background: $parasail-green-light;
}

.bg--grey {
  background: $parasail-grey;
}

.bg--grey-dark {
  background: $parasail-grey-dark;
}

.bg--grey-light {
  background: $parasail-grey-light;
}

.bg--purple {
  background: $parasail-purple;
}

.bg--red {
  background: $parasail-red;
}

.bg--yellow {
  background: $parasail-yellow;
}

.bg--yellow-dark {
  background: $parasail-yellow-dark;
}


// Parasail Colors for text
.text--blue {
  color: $parasail-blue;
}

.text--green {
  color: $parasail-green;
}

.text--green-light {
  color: $parasail-green-light;
}

.text--grey {
  color: $parasail-grey;
}

.text--grey-dark {
  color: $parasail-grey-dark;
}

.text--grey-light {
  color: $parasail-grey-light;
}

.text--purple {
  color: $parasail-purple;
}

.text--red {
  color: $parasail-red;
}

.text--yellow {
  color: $parasail-yellow;
}

.text--yellow-dark {
  color: $parasail-yellow-dark;
}