/*   ICONS
______________________ */


%icon {
  @extend %displayFlex;
  justify-content: center;
  align-items: center;
}

.icon__arrow {
  display: inline-block;
  &:before {
    @extend %icon;
    width: 40px;
    height: 40px;
    content: '\002794';
    font-family: Arial;
    font-size: $icon__arrow;
    font-weight: 100;
    line-height: 1;
    background: $icon__arrow-background;
    color: $icon__arrow-text;
    border-radius: 26px;
    @include transform(rotate(-45deg));
    @include transition;
  }
  &:hover {
    &:before {
      cursor: pointer;
      background: darken($icon__arrow-background, 5%);
      @include transition;
    }
  }
}

.icon__close {
  &:before {
    content: '\00d7';
    font-size: $icon__close;
    font-weight: 600;
    color: $icon__close-text;
  }
}

.icon__question-mark {
  display: inline-block;
  &:before {
    @extend %icon;
    width: 27px;
    height: 27px;
    content: '?';
    font-family: $font--secondary;
    font-size: $icon__question-mark;
    color: $icon__question-mark-text;
    border: 2px solid $icon__question-mark-text;
    border-radius: 15px;
  }
}