/*   VARIABLES
______________________ */


// --- Breakpoints --- 

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);



// ----- Colors ------ 

// Brand Colors
$brand-color: #3d2566;
$accent-color: #1ea98f;
$brand-text: #808184;

// Buttons
$btn--default: $brand-color;
$btn--error: #ef4539;
$btn--primary: $accent-color;
$btn--secondary: #93d7ca;
$btn__text: #fff;

// Forms
$input--background: #fff;
$input__text: $brand-color;
$input__placeholder: $brand-text;
$input--radio-background: $accent-color;
$input--radio-text: #fff;
$input--border: #ebe9f0;
$input--border-active: $brand-color;
$label--color: $brand-text;

// Text
$text--regular: $brand-text;
$text--highlighted: $brand-color;
$text--link: $accent-color;

// Icons
$icon__arrow-background: $accent-color;
$icon__arrow-text: #fff;
$icon__close-text: $text--regular;
$icon__question-mark-text: #ccc;



// ------ Fonts ------ 

$font--primary: 'Akkurat Light Pro';
$font--secondary: 'Akkurat Pro';

// If you would like to use only one font,
// uncomment the line below
// $font--secondary: $font--primary;



// ---- Font Size ---- 

// Buttons
$font--btn: 18px;

// Forms
$font--input: 18px;
$font--label: 16px;

// Icons
$icon__arrow: 28px;
$icon__close: 28px;
$icon__question-mark: 18px;



// ------ Logo ------ 

$logo: url('../img/logo_parasail.png');
